.ipynb_checkpoints/
plots/
data/*
!data
lib/__pycache__/

models/*
!models

!models/DCGAN28x28
models/DCGAN28x28/*
!models/DCGAN28x28/model.py
models/DCGAN28x28/model_saves/*
!models/DCGAN28x28/model_saves

!models/DCGAN64x64
models/DCGAN64x64/*
!models/DCGAN64x64/model.py
models/DCGAN64x64/model_saves/*
!models/DCGAN64x64/model_saves

!models/Diffusion28x28
models/Diffusion28x28/*
!models/Diffusion28x28/model.py
models/Diffusion28x28/model_saves/*
!models/Diffusion28x28/model_saves

!models/Diffusion64x64
models/Diffusion64x64/*
!models/Diffusion64x64/model.py
models/Diffusion64x64/model_saves/*
!models/Diffusion64x64/model_saves